In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date

%matplotlib inline

In [4]:
WORK_DIR = ''
tdata = pd.read_csv(''.join((WORK_DIR, 'yob1880.txt')), names=['Name','Sex', 'Count'])

In [57]:
def count3(load_years):
    loaded_data = pd.concat(load_years)
    print(loaded_data)

In [10]:
a1 = {
    'a': [1, 2, 3, 4],
    'b': [2, 2, 2, 2],
    'c': [4, 3, 2, 1]
}
a2 = {
    'a': [5, 6, 7, 8],
    'b': [3, 3, 3, 3],
    'c': [8, 7, 6, 5]
}
a1s = pd.DataFrame(a1)
a2s = pd.DataFrame(a2)
resultsA = pd.concat([a1s, a2s], keys=['a1s', 'a2s',], ignore_index=True)
print(resultsA)

   a  b  c
0  1  2  4
1  2  2  3
2  3  2  2
3  4  2  1
4  5  3  8
5  6  3  7
6  7  3  6
7  8  3  5

In [40]:
def agg_count(row):
    if pd.isnull(row[2]):
        row[2] = 0
    if pd.isnull(row[3]):
        row[3] = 0
    row.Sum = row[2] + row[3]
    return row

def merge_with_data(years):
    if len(years) == 1:
        print(1)
    pass
tdata1 = pd.read_csv(''.join((WORK_DIR, 't1880.txt')), names=['Name','Sex', 'Count'])
tdata2 = pd.read_csv(''.join((WORK_DIR, 't1881.txt')), names=['Name','Sex', 'Count'])
tdata3 = pd.read_csv(''.join((WORK_DIR, 't1882.txt')), names=['Name','Sex', 'Count'])
v1 = pd.concat([tdata1, tdata2], ignore_index=True, axis=1).groupby(level=0, group_keys=['Name']).sum()
#pd.concat([df1,df2]).groupby(level=0).sum()

v2 = pd.merge(tdata1, tdata2, on=['Name','Sex'], how = 'outer' )
v2['Sum'] = pd.Series(0)
v3 = v2.apply(agg_count, axis=1)
#del v3['Count_x']
#del v3['Count_y']
#v3.drop(v3.index[[2,3]], axis=1)
v3.rename(columns={'Sum': 'count'}, inplace=True)
print(v1)
print(v3)

      2     5
0  7065  6919
1  2604  2698
2  2003  2034
3  1939  1852
4  1746  1658
5  1578  1653
6  1472  1439
7  1414  1326
8  1320  1324
9  1288  1308
         Name Sex  Count_x  Count_y    count
0        Mary   F   7065.0   6919.0  13984.0
1        Anna   F   2604.0   2698.0   5302.0
2        Emma   F   2003.0   2034.0   4037.0
3   Elizabeth   F   1939.0   1852.0   3791.0
4      Minnie   F   1746.0   1653.0   3399.0
5    Margaret   F   1578.0      0.0   1578.0
6         Ida   F   1472.0   1439.0   2911.0
7       Alice   F   1414.0   1308.0   2722.0
8      Bertha   F   1320.0   1324.0   2644.0
9       Sarah   F   1288.0      0.0   1288.0
10   Alexandr   M      0.0   1658.0   1658.0
11      Annie   F      0.0   1326.0   1326.0

In [31]:
def dynamic_change(years):
    change_list = { 
                    'M': [],
                    'F': []
                }
    for year in years:
        csv_data = pd.read_csv(''.join((WORK_DIR, year)), names=['Name','Sex', 'Count'])
        year_stat = csv_data.groupby('Sex').Count.count()
        if 'M' in year_stat.axes[0]:
            change_list['M'].append(year_stat['M'])
        else:
            change_list['M'].append(0)
        if 'F' in year_stat.axes[0]:
            change_list['F'].append(year_stat['F']) 
        else:
            change_list['F'].append(0)
    return change_list

testfr = ['t1880.txt', 't1881.txt', 't1882.txt']
year_slice = dynamic_change(testfr)
print(year_slice)

{'M': [0, 1, 1], 'F': [10, 9, 9]}